/* ----------------- Navigation bars ----------------- */
#fi_logo {
	height: 100%;
	width: auto;
	vertical-align: middle;
}


.link_bar {
	width: 100%;
	background-color: rgb(27,74,171);
	font-family: sans-serif;
	text-align: center;
}

#top_links {
	height: 10%;
	position: fixed;
	top: 0;

	color: white;
	font-weight: bolder;
}

#bottom_links {
	height: 5%;
	position: fixed;
	bottom: 0;
}

#bottom_links > a {
	color: white;
}

/* ----------------- END ----------------- */

/* ------------------- Magane options ------------------- */
.option {
	width: 170px;
	height: 140px;
	margin: 5px 5px;
	padding: 15px;
	text-align: center;
	font-size: 0.8em;
}

/* Options -webkit-box */
#manage_options {
	position: fixed;
	display: -webkit-box;	display: -moz-box;
	-webkit-box-align: center;	-moz-box-align: center;
}

/* ----------------- END ----------------- */

h1 {
	text-align: center;
	margin-top: 160px;
}


body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

/* Links reset function */
a {	text-decoration: none; }
a:link { color:#000000; }      	/* unvisited link */
a:visited { color:#000000; }  	/* visited link */
a:hover { color:#000000; }  		/* mouse over link */
a:active { color:#000000; }  		/* selected link */
